
<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <label for="name">Person Name</label>
      <div class="input-group mb-3">     
        <input id="name" name="name" class="form-control" [(ngModel)]="person.name"
              required #nameField="ngModel" 
              [class.field-error]="form.submitted && nameField.invalid" placeholder="Enter person's name" required>
        <div class="input-group-append">
          <button class="btn btn-success">Add</button>
        </div>
      </div>
    </form>
    <div>
      <table class="table table table-dark">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Added On</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let person of personList">
            <td> {{ person.name }}</td>
            <td>{{person.addedOn |  date: 'dd/MM/yyyy'}}</td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>